* {
  //   background-color: #f0f5ff;
  //   outline: .5px solid #b7eb8f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

body,
#__nuxt,
#__layout {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

#__nuxt {

  // 面包导航
  .el-breadcrumb__item {
    .el-breadcrumb__inner {

      color: $text-bright;

      &.is-link {
        font-weight: $w500;
        color: $text;

        &:hover {
          color: $root;
        }
      }
    }
  }

  // avatar
  .el-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  // \tag
  .el-tag {
    cursor: pointer;
  }
}


/*  markdown 用户留言后渲染出来的样式  */
.__md,
#__md {
  &.small {
    pre {
      box-shadow: 0 0 4px rgba($color: #000000, $alpha: .52);

      &::before {
        content: 'codeing...';
      }

      * {
        display: none;
      }
    }
  }

  img {
    pointer-events: none;
  }

  * {
    user-select: none;
  }

  h1 {
    padding: 7px 0;
  }

  h2 {
    padding: 6px 0;
  }

  p {
    margin: 2px 0;
  }

  pre {
    user-select: unset;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    color: white;
    overflow-x: auto;

    * {
      user-select: unset;
    }

    &::-webkit-scrollbar {
      width: 20px;
      height: 12px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.26);
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.42);
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    }

  }

  .m-image {
    max-width: 250px;
    box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.04);
  }

}

.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
